<table class="w-full text-left border-collapse">
  <thead>
    <tr class="bg-slate-50">
      <th class="px-6 py-4 text-xs font-label-md text-outline uppercase tracking-wider">Member Details
      </th>
      <th class="px-6 py-4 text-xs font-label-md text-outline uppercase tracking-wider">Type</th>
      <th class="px-6 py-4 text-xs font-label-md text-outline uppercase tracking-wider text-right">
        Amount</th>
      <th class="px-6 py-4 text-xs font-label-md text-outline uppercase tracking-wider">Date</th>
      <th class="px-6 py-4 text-xs font-label-md text-outline uppercase tracking-wider">Status</th>
      <th class="px-6 py-4 text-xs font-label-md text-outline uppercase tracking-wider"></th>
    </tr>
  </thead>
  <tbody class="divide-y divide-slate-100">
    @for(transaction of transactions; track transaction.id) {
    <tr class="hover:bg-slate-50 transition-colors">
      <td class="px-6 py-4">
        <div class="flex items-center">
          <div class="w-8 h-8 rounded bg-primary-container/10 flex items-center justify-center mr-3">
            @if (transaction.type == 'Ingreso') {
              <span class="material-symbols-outlined text-primary text-sm">trending_up</span>
            }@else {
              <span class="material-symbols-outlined text-primary text-sm">trending_down</span>
            }
          </div>
          <div>
            <p class="font-semibold text-on-surface">{{ transaction.description }}</p>
            <p class="text-xs text-outline">ID: #FUND-88{{transaction.id}}</p>
          </div>
        </div>
      </td>
      <td class="px-6 py-4">
        @if (transaction.type == 'Ingreso') {
          <span class="text-sm px-2.5 py-1 rounded bg-blue-50 text-blue-700 font-medium">Ingreso</span>
        }@else {
          <span class="text-sm px-2.5 py-1 rounded bg-slate-100 text-slate-700 font-medium">Debito</span>
        }
      </td>
      <td class="px-6 py-4 text-right">
        <p class="font-data-numeral text-on-surface">{{ transaction.amount | currency:'USD':'symbol' }}</p>
      </td>
      <td class="px-6 py-4 text-sm text-outline">{{ transaction.created_at | date:'MMM dd, yyyy'
            }}</td>
      <td class="px-6 py-4">
        <div class="flex items-center text-secondary text-sm font-semibold">
          <span class="w-2 h-2 rounded-full bg-secondary mr-2"></span>
          Processed
        </div>
      </td>
      <td class="px-6 py-4 text-right">
        <button class="text-outline hover:text-primary"><span
            class="material-symbols-outlined">more_vert</span></button>
      </td>
    </tr>
    }

    @if(transactions.length == 0) {
    <p>No hay movimientos registrados.</p>
    }
    
  </tbody>
</table>