<mat-toolbar color="primary" class="navbar-container">
  <span>{{ nameFondo }}</span>
  
  <span class="spacer"></span>

  <div class="nav-links">
    <button mat-icon-button routerLink="/" matTooltip="Home">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button routerLink="/transacciones" matTooltip="Transacciones">
      <mat-icon>paid</mat-icon>
    </button>

    <button mat-icon-button routerLink="/prestamos" matTooltip="Préstamos">
      <mat-icon>account_balance</mat-icon>
    </button>

    <button mat-icon-button routerLink="/miembros" matTooltip="Miembros">
      <mat-icon>event</mat-icon>
    </button>

    <button mat-icon-button routerLink="/estadisticas" matTooltip="Estadísticas">
      <mat-icon>leaderboard</mat-icon>
    </button>
  </div>
</mat-toolbar>
